@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 46px 25px 55px 25px;
  background-color: $secondary-bg-color;
  @include tabletAndBeyondView() {
    padding: 55px 80px 64px 80px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  max-width: 1920px;
}

.title {
  color: $font-color-one;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
}
