@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  min-height: 64px;

  @include tabletAndBeyondView() {
    min-height: 126px;
  }
}

.fixedBlock,
.relativeBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 64px;
  padding: 0 10px;
  background-color: $primary-bg-color;
  z-index: 10;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.17);

  @include tabletAndBeyondView() {
    padding: 0 110px;
    height: 126px;
  }
}

.fixedBlock {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.relativeBlock {
  position: relative;
  transform: translateX(0);
}

.fixedContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fixedTitleBlock {
  display: none;

  @include tabletAndBeyondView() {
    width: 60%;
    display: block;
  }
}

.fixedTitle {
  color: $font-color-one;
  font-size: 24px;
  font-weight: 600;
}

.priceBlock {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 28px;

  @include tabletAndBeyondView() {
    width: 350px;
  }
}

.price {
  color: $font-color-one;
  font-size: 16px;
  font-weight: 600;

  @include tabletAndBeyondView() {
    font-size: 24px;
    font-weight: 600;
  }
}
