@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.inActive:first-child {
  color: #222;
}
.inActive:first-child {
  color: #222;
}
.active {
  color: #222;
  font-weight: 600;
}

.container {
  background-color: #fff;
  // padding: 16px 24px;
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.04);
  align-items: center;
  z-index: 30;
  position: relative;
  @include tabletAndBeyondView() {
    padding: 32px 72px;
  }
}
.linkContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 16px 24px;
  background-color: #fff;
  height: 100px;
  // transition: transform 0.8s ease;
  @include tabletAndBeyondView() {
    gap: 64px;
    padding: 0 36px;

    height: auto;
    flex-direction: row;
    // transform: translateY(0px);
  }
}
.linkContainer .active {
  transform: translateY(-110vh);
}
