@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin: 0 auto;

  @include tabletAndBeyondView() {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include desktopAndBeyondView() {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
  }
}

.btnBlock {
  margin: 0 auto;
}
