@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/home/hero_img.png');
  background-size: cover;
  background-position: center;
  height: 480px;
  @include desktopAndBeyondView() {
    height: 600px;
    background-color: $secondary-bg-color;
  }
}

.heroBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  position: relative;
  max-width: 600px;
}

.heroBlock h1 {
  color: $font-color-two;
  width: 312px;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: center;

  @include tabletAndBeyondView() {
    width: 500px;
  }

  @include desktopAndBeyondView() {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
  }
}

.searchContainer {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.searchBlock {
  display: flex;
  flex-direction: row;
  background-color: $primary-bg-color;
  border-radius: 8px;
  padding: 8px;
  justify-content: space-between;
  width: 100%;

  @include desktopAndBeyondView() {
    width: 100%;
  }
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  width: 90%;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
  }
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 600px;
  background-color: $primary-bg-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 1s ease,
    opacity 1s ease;
  opacity: 0;
}

.dropdownVisible {
  max-height: 250px;
  opacity: 1;
}

.dropdownTitle {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 400;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.noResults {
  counter-reset: $font-color-three;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $font-color-one;
  text-align: center;
  padding: 8px;
}

.linkBlock {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.linkBlock p {
  color: $font-color-two;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
}
