$primary-bg-color: #ffffff;
$secondary-bg-color: #f7f7f7;
$tertiary-bg-color: #000000;

$font-color-one: #000000;
$font-color-two: #ffffff;
$font-color-three: #b0aeae;
$font-color-fourth: #5E5E5E;
