@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  border-bottom: 1px solid var(--Color-Neutrals-Neutral-4, #d3d3d3);

  @include tabletAndBeyondView() {
    padding: 0 72px;
  }

  @include desktopAndBeyondView() {
    padding: 0px 80px;
  }
}

.navBar {
  max-width: 1920px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  width: 130px;
  height: 40px;

  @include tabletAndBeyondView() {
    width: 130px;
    height: 40px;
  }

  @include desktopAndBeyondView() {
    width: 200px;
    height: 61px;
  }
}

.list {
  cursor: pointer;
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  display: none;
  @include tabletAndBeyondView() {
    display: block;
  }
}

.signBlock {
  display: none;

  @include tabletAndBeyondView() {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}

.signBlockMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include tabletAndBeyondView() {
    display: flex;
    flex-direction: row;
  }

  @include desktopAndBeyondView() {
    display: none;
  }
}

.verticalLine {
  border: 1px #222222 solid;
  height: 20px;
}

.logIn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;

  @include tabletAndBeyondView() {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
  }

  @include desktopAndBeyondView() {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
  }
}

.mobileSignBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;

  @include tabletAndBeyondView() {
    display: none;
  }
}

.mobileHeaderMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  padding: 20px 26px;
  top: 99px;
  width: 100%;
  height: auto;
  background-color: $secondary-bg-color;
  z-index: 50;

  @include tabletAndBeyondView() {
    padding: 20px 72px;
  }
}

.mobileMenuLinks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobileMenuLink {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
