@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  @include desktopAndBeyondView() {
    flex-direction: row;
    padding: 28px 80px;
  }
}

.parametersBlock {
  display: flex;
  flex-direction: column;
  @include desktopAndBeyondView() {
    flex-direction: row;
    gap: 16px;
  }
}

.parametersItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itemTitle {
  color: $font-color-one;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

.itemBlock {
}
