@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  background-color: $secondary-bg-color;
  padding-bottom: 24px;

  @include tabletAndBeyondView() {
    padding: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include tabletAndBeyondView() {
    border-bottom: none;
    padding: 12px 80px;
    overflow-x: initial;
    white-space: normal;
  }
}

.category {
  cursor: pointer;
  color: $font-color-three;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  text-align: left;
  flex-shrink: 0;
}

.categoryActive {
  cursor: pointer;
  color: $font-color-three;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;
  text-align: left;
  flex-shrink: 0;
}

.arrow {
  min-width: 12px;
  min-height: 12px;
}

.hr {
  border: none; 
  border-top: 1px solid #d3d3d3; 
  margin: 0 auto; 
  height: 1px; 
  background-color: #d3d3d3;

  @include tabletAndBeyondView() {
    display: none;
  }
}
