@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktopAndBeyondView() {
    padding: 0px 80px;
  }
}

.bannerBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $secondary-bg-color;
  border-radius: 8px;
  padding: 56px 25px;
  @include desktopAndBeyondView() {
    height: 360px;
    padding: 80px 0px;
  }
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.title {
  color: $font-color-one;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: center;
  @include desktopAndBeyondView() {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
  }
}

.description {
  color: $font-color-three;
  text-align: center;
  width: 80%;

  @include desktopAndBeyondView() {
    width: 60%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
  }
}
