@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.authorized{
    display:flex;
    text-decoration:none;
    gap:16px;
    align-items: center;
}
.link{
    text-decoration: none;
    color:#000
}